<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TTS PLAYER</title>
    <link rel="stylesheet" href="/static/mvp.css">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header class="page-header">
        <nav>
            <ul>
                <li><a href="/">TTS PLAYER</a></li>
                <li><select id="model-select"></select></li>
            </ul>
            <ul>
                <li><a href="/tts-server/text-inference">텍스트 읽기</a></li>
                <li><a href="/tts-server/cc-overlay">Open Captions Overlay 연동</a></li>
                <!-- <li><a href="/tts-server/model-manager">모델 관리자</a></li> -->
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <header>
                <!-- <h1>텍스트 읽기</h1>
                <p>입력한 텍스트를 음성으로 합성하여 재생합니다.</p> -->
            </header>
            <textarea name="text" id="text"></textarea>
        </section>
        <section class="form">
            <div class="form-group">
                <label>Enter 입력시 음성 재생: </label>
                <input type="checkbox" id="enter" name="enter" value="ON">
            </div>

            <div class="form-group">
                <label>볼륨: </label>
                <input type="range" id="volume" name="volume" min="0" max="10" value="5">
            </div>

            <div class="form-group">
                <button id="infer" class="button-small">음성 재생</button>
                <button id="stop" class="button-small">정지</button>
                <a id="download_a" download><button id="download" class="button-small">다운로드</button></a>
            </div>
        </section>
        <section>
            <div id="result"></div>
        </section>
    </main>
    <script>
        function sleep(time) {
            return new Promise((resolve) => setTimeout(resolve, time));
        }

        const textDOM = document.getElementById('text');
        const resultDOM = document.getElementById('result');
        const inferDOM = document.getElementById('infer');
        const stopDOM = document.getElementById('stop');
        const modelDOM = document.getElementById('model');
        const volumeDOM = document.getElementById('volume');
        const downloadDOM = document.getElementById('download');
        const downloadAreaDOM = document.getElementById('download_a');
        const enterDOM = document.querySelector('input[name="enter"]');
        const modelSelectDOM = document.getElementById('model-select');

        var audio = null;
        var audio_next = null;
        var voice_queue = [];

        window.onload = ()=>{
            fetch('/api/models')
            .then(res => res.json())
            .then(json => {
                json.models.forEach(model => {
                    let option = document.createElement('option');
                    option.value = model;
                    option.innerText = model;
                    modelSelectDOM.appendChild(option);
                });
                modelSelectDOM.value = json.selected;
            });
        };
        
        function play_voice() {
            if (audio_next != null) {
                audio = audio_next;
                audio_next = null;
                audio.addEventListener('ended', play_voice);
                sleep(300).then(() => {
                    amplifyMedia(audio, volumeDOM.value / 5.0);
                    audio.play();
                });
            }
            if (voice_queue.length == 0) {
                return;
            }
            const text = voice_queue[0];
            console.log(text);
            voice_queue.shift();
            
            audio_next = new Audio('/tts-server/api/infer-glowtts?time=' + Date.now() + '&text=' + encodeURI(text));
            audio_next.type = 'audio/wav';
            audio_next.load();
            if (audio == null) {
                play_voice();
            }
        }

        function clear_voice() {
            voice_queue = [];
            if (audio != null) {
                audio.removeEventListener('ended', play_voice);
                audio.pause();
                audio = null;
                audio_next = null;
            }
        }

        function infer() {
            const text = textDOM.value;
            fetch('/tts-server/api/process-text', {
                method: "POST",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    text: text
                })
            })
                .then(function (response) {
                    return response.json();
                })
                .then(function (texts) {
                    resultDOM.innerHTML = "";
                    for (let i = 0; i < texts.length; i++) {
                        const line = texts[i];
                        resultDOM.innerHTML += "<p>" + line + "</p>";
                    }
                    clear_voice();
                    voice_queue = texts;
                    play_voice();
                });
        };


        function amplifyMedia(audio, multiplier) {
            var context = new (window.AudioContext || window.webkitAudioContext);
            var result = {
                context: context,
                source: context.createMediaElementSource(audio),
                gain: context.createGain(),
                amplify: function (multiplier) { result.gain.gain.value = multiplier; },
                getAmpLevel: function () { return result.gain.gain.value; }
            };
            result.source.connect(result.gain);
            result.gain.connect(context.destination);
            result.amplify(multiplier);
            return result;
        }
        function download_audio(){
            downloadAreaDOM.href = '/tts-server/api/infer-glowtts?text='+ encodeURI(textDOM.value);
        }

        inferDOM.onclick = infer;
        stopDOM.onclick = clear_voice;
        textDOM.onkeypress = function (e) {
            if (e.keyCode == 13 && enterDOM.checked) {
                infer();
                textDOM.value = '';
                e.preventDefault();
            }
        };
        downloadDOM.onclick = download_audio;
        modelSelectDOM.onchange = function () {
            //post fetch
            inferDOM.innerHTML="로딩중...";
            downloadDOM.innerHTML="로딩중...";
            inferDOM.disabled=true;
            downloadDOM.disabled=true;
            // downloadDOM
            fetch('/api/models', {
                method: "POST",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    model: modelSelectDOM.value
                })
            })
                .then(function (response) {
                    return response.text();
                })
                .then(function (json) {
                    console.log(json);
                    inferDOM.innerHTML="음성 재생";
                    downloadDOM.innerHTML="다운로드";
                    inferDOM.disabled=false;
                    downloadDOM.disabled=false;
                });
        };
    </script>
</body>

</html>